<div class="col-lg-3">
	<div class="card overflow-hidden">
		<div class="couverture-image">
			{% if user.couverture %}
			<img src="/uploads/couverture/{{user.couverture}}" class="img-responsive" alt="">
			{% else %}
			<img src="/images/couverture.jpg" class="img-responsive" alt="">
			{% endif %}
			
		</div>

		<div class="profil-image">
			{% if user.profil %}
			<img src="/uploads/profil/{{user.profil}}" class="img-responsive" alt="">
			{% else %}
			<img src="/images/placeholder.jpg" class="img-responsive" alt="">
			{% endif %}
		</div>

		<div class="profil-label text-center">
			<div class="mb-3">
				<h5><a href="/user/profil/{{user.id}}">{{lastUsername}}</a></h5>
				<small>@{{user.pseudo}}</small>

			</div>
		</div>

		<div class="profil-button">
			<div
				class="hstack gap-2 gap-xl-3 justify-content-center">
				<!-- User stat item -->
				<div>
					<h6 class="mb-0">{{post_number}}</h6>
					<small>Post</small>
				</div>
				<!-- Divider -->
				<div class="vr"></div>
				<!-- User nandefa demande-->
				<div>
					<h6 class="mb-0">{{follower_number}}</h6>
					<small>Followers</small>
				</div>
				<!-- Divider -->
				<div class="vr"></div>
				<!-- User nandefasana demande -->
				<div>
					<h6 class="mb-0">{{suivi_number}}</h6>
					<small>Suivi(e)s</small>
				</div>
			</div>
		</div>

		<div class="profil-menu">
			<div class="list-group-b" style="">
				<a href="/" class="list-group-item-b menu-active" aria-current="true">
					<i class="bi bi-houses"></i>
					Actualités
				</a>
				<a href="/user/friends" class="list-group-item-b ">
					<i class="bi bi-people"></i>
					Amis</a>
				<a href="/user/abonnements" class="list-group-item-b ">
					<i class="bi bi-clipboard-plus"></i>
					Abonnements</a>
				<a href="/user/parametres" class="list-group-item-b ">
					<i class="bi bi-gear"></i>
					Paramettres</a>
				<a href="#" class="list-group-item-b ">
					<i class="bi bi-info-square"></i>
					Aides</a>
			</div>

		</div>

	</div>
</div>
