{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<style>
		.text-gray-300 {
			color: #adb5bd;
		}
		.border-left-primary {
			border-left: 3px solid #4e73df;
		}
		.border-left-success {
			border-left: 3px solid #198754;
		}
		.border-left-warning {
			border-left: 3px solid #f6c23e;
		}
	</style>
	<body class="body">
		{% include "main/navbar.html.twig" %}
		<div class="container contenu">
			<div
				class="row">
				<!-- Profil-->
				{% include "admin/user.html.twig" %}
				<!-- End Profil-->
				<div class="col-lg-8 bg-white rounded-3 mb-3">
					<div class="container mt-3 m-0">
						<div class="col-lg-12 col-md-12 mb-md-0 mb-4">
							<div class="">
								<div class="card-header pb-0">
									<div class="row">
										<div class="col-lg-6 col-7">
											<h6 class="mb-3"><i class="fa fa-check text-info" aria-hidden="true"></i> Liste des utilisateurs</h6>
											
										</div>
										<div class="col-lg-6 col-5 my-auto text-end">
											<div class="dropdown float-lg-end pe-4">
												<a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
												</a>
												<ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
													<li>
														<a class="dropdown-item border-radius-md" href="javascript:;">Télecharger</a>
													</li>
													<li>
														<a class="dropdown-item border-radius-md" href="javascript:;">Another action</a>
													</li>
													<li>
														<a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{# <div class="card-body px-0 pb-2"> #}
									<div class="table-responsive">
										<table class="table align-items-center mb-0">
											<thead>
												<tr>
													<th class=" text-secondary text-xxs font-weight-bolder opacity-7">Nom et prénom</th>
													<th class= "text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Amis</th>
													<th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Ventes</th>
													<th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Achats</th>
												</tr>
											</thead>
											<tbody>
                                             {% for profil in user_list %}
												<tr>
													<td>
														<div class="d-flex px-2 py-1">
															<div style="padding-right:4px;">
                                                                {% if profil.user.profil %}
                                                                    <img src="/uploads/profil/{{profil.user.profil}}" class="avatar-img rounded-circle" alt="xd">
                                                                {% else %}
                                                                    <img src="/images/placeholder.jpg" class="avatar-img rounded-circle" alt="">
                                                                {% endif %}
															</div>
															<div class="d-flex flex-column justify-content-center">
																<h6 class="mb-0 text-sm"><a href="/user/profil/{{profil.user.id}}"> {{profil.user.firstname}} {{profil.user.lastname}}</a></h6>
															</div>
														</div>
													</td>
													<td>
														<div class="avatar-group mt-2">

                                                        {% for amis in profil.amis %}
                                                            <a href="/user/profil/{{amis.id}}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Ryan Tompson" data-bs-original-title="Ryan Tompson">
																{% if amis.profil %}
                                                                    <img src="/uploads/profil/{{amis.profil}}" class="avatar-img rounded-circle" alt="xd">
                                                                {% else %}
                                                                    <img src="/images/placeholder.jpg" class="avatar-img rounded-circle" alt="">
                                                                {% endif %}
                                                                
                                                                {# <img src="../assets/img/team-1.jpg" alt="team1"> #}
															</a>
                                                            
                                                        {% endfor %}
															
															
														</div>
													</td>
													<td class="align-middle text-center text-sm">
														<span class="text-xs font-weight-bold">
															{{profil.sale|length}}
														</span>
													</td>
													<td class="align-middle">
														<span class="text-xs font-weight-bold">
															{{profil.notsale|length}}
														</span>
													</td>
                                                    
												</tr>
                                                {% endfor %}
												
											</tbody>
										</table>
									</div>
								{# </div> #}
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<script>
        document.querySelectorAll("body > div.container.contenu > div > div.col-lg-3 > div > div.profil-menu > div > a.list-group-item-b").forEach(elem => {
			elem.classList.remove("menu-active");
			})
			document.querySelector("body > div.container.contenu > div > div.col-lg-3 > div > div.profil-menu > div > a:nth-child(2)").classList.add("menu-active")
			
        </script>
	</body>
{% endblock %}
