{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<style>

		
	</style>

	<body class="body">
		{% include "main/navbar.html.twig" %}
		<div class="container contenu">
			<div class="messaging bg-white rounded">
				<div class="inbox_msg">
					<div class="inbox_people">
						<div class="headind_srch">
							<div class="recent_heading">
								<h4>Messages</h4>
							</div>
							<div class="srch_bar">
								<div class="stylish-input-group">
									<input type="text" class="search-bar w-100" placeholder="Recherche">
									<span class="input-group-addon">
										<button type="button">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="inbox_chat">
							{% for user in user_list %}
								{% if user.id != app.user.id %}
									<div class="chat_list" onclick="clickOneMessage({{user.id}},'{{user.firstname}} {{user.lastname}}','{{user.pseudo}}')">
										<div class="chat_people">
											<div class="chat_img">
												{% if user.profil %}
													<img src="/uploads/profil/{{user.profil}}" class="img-responsive" alt="" style="border-radius:50%;width:40px;height:40px;">
												{% else %}
													<img src="/images/placeholder.jpg" class="img-responsive" alt="" style="border-radius:50%;">
												{% endif %}
												{# <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> #}
											</div>
											<div class="chat_ib">
												<h5>{{user.firstname}}
													{{user.lastname}}
													<span class="chat_date" style="text-align:center;border-radius:50%;width:15px; color:white;background:green;"><i class="bi bi-plus"></i></span>
												</h5>
												<small>@{{user.pseudo}}</small>

											</div>
										</div>
									</div>
								{% endif %}

							{% endfor %}

						</div>
					</div>

					<div class="mesgs">

						<div class="msg_history">
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img src="/images/placeholder.jpg" class="img-responsive" alt="" style="border-radius:50%;border:1px solid #676a79;">
										
									{# <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> #}
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										{% if other_user %}
											<input type="hidden" data-userid="{{other_user.id}}" value="" id="message_user_id">
											<a href="/user/profil/{{other_user.id}}" style="text-decoration: none;">
												<h5 id="message_fullname">{{other_user.firstname}}
													{{other_user.lastname}}</h5>
												<span class="time_date" id="message_pseudo">@{{other_user.pseudo}}</span>
											</a>
										{% else %}
											<input type="hidden" value="1" id="message_user_id">
											<a href="#" style="text-decoration: none;">
												<h5 id="message_fullname">{{app.user.firstname}} {{app.user.lastname}}</h5>
												<span class="time_date" id="message_pseudo">@{{app.user.pseudo}}</span>
											</a>
										{% endif %}


									</div>
								</div>
								<hr>
							</div>
							<div id="discussion">
								{% if all_message %}

									{% for message in all_message %}
										{% if message.message.isForMe == 0 %}
											<div class="incoming_msg">
												<div class="incoming_msg_img">
													{% if message.user.profil %}
														<img src="/uploads/profil/{{message.user.profil}}" class="img-responsive" alt="">
													{% else %}
														<img src="/images/placeholder.jpg" class="img-responsive" alt="">
													{% endif %}
													{# <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> #}
												</div>
												<div class="received_msg">
													<div class="received_withd_msg">
														<p>{{message.message.content}}</p>
														<span class="time_date">{{message.message.datetime}}</span>
													</div>
												</div>
											</div>
										{% else %}
											<div class="outgoing_msg">
												<div class="sent_msg">
													<p>{{message.message.content}}</p>
													<span class="time_date">{{message.message.datetime}}</span>
												</div>
											</div>

										{% endif %}

									{% endfor %}

								{% else %}
								<span class="text-muted">Dite bonjour à vos amis!</span>

								{% endif %}

							</div>

						</div>

						<div class="type_msg">
							<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
								{% if app.user.profil %}
									<img class="m-2" src="/uploads/profil/{{app.user.profil}}" alt="avatar 3" style="width: 40px; height: 40px;border-radius:50%;border:1px solid #676a79;">
								{% else %}
									<img class="m-2" src="/images/placeholder.jpg" alt="avatar 3" style="width: 40px; height: 40px;border-radius:50%;border:1px solid #676a79;">
								{% endif %}
								<input type="text" class="form-control" placeholder="Ecrire votre message" id="message_content_user">
								<a class="ms-1 text-muted" href="#!">
									<i class="fas fa-paperclip"></i>
								</a>
								<a class="ms-3 text-muted" href="#!">
									<i class="fas fa-smile"></i>
								</a>
								<a class="ms-3" onclick="sendMessage()" style="cursor:pointer;">
									<i class="fas fa-paper-plane"></i>
								</a>
							</div>
						</div>
					</div>
				</div>


				<p class="text-center top_spac"></p>

			</div>
			<script>

				let user_id = document.querySelector("#message_user_id").getAttribute("data-userId");

				function clickOneMessage(user_id, fullname, pseudo) { // document.querySelector("#message_user_id").value = user_id
				document.querySelector("#message_user_id").setAttribute("data-userId", user_id)
				document.querySelector("#message_fullname").textContent = fullname
				document.querySelector("#message_pseudo").textContent = "@" + pseudo
				document.querySelector("#discussion").innerHTML = "";

				}

				let eventSourceMsg = new EventSource("/user/messages_by");
				eventSourceMsg.onmessage = function (event) {
				const msg = JSON.parse(event.data);
				if (msg != "Aucun message") {
				let res = ""
				for (let message of msg) {
				if (message.message.user_id == document.querySelector("#message_user_id").getAttribute("data-userId")) {
				if (message.message.isForMe == 0) {
					console.log(message)
					let profil = message.user.profil ? "/uploads/profil/"+message.user.profil : "/images/placeholder.jpg";
					//let dateHumans = diff4humans(message.message.datetime)
				res += `<div class="incoming_msg">
									<div class="incoming_msg_img">
										<img src=${profil} alt="sunil" style="width:40px; height:40px;border:1px solid #676a79;border-radius:50%;">
									</div>
									<div class="received_msg">
										<div class="received_withd_msg">
											<p>${
											message.message.content
											}</p>
																						<span class="time_date">${
											message.message.datetime
											}</span>
																					</div>
																				</div>
																			</div>`
											} else {
											res += `<div class="outgoing_msg">
																				<div class="sent_msg">
																					<p>${
											message.message.content
											}</p>
																					<span class="time_date">${message.message.datetime}</span>
																				</div>
																			</div>`
											}
											}

}

document.querySelector("#discussion").innerHTML = res;
} else {
document.querySelector("#discussion").innerHTML = "<p>Dite bonjour!</p>";
}
}

document.getElementById("message_content_user").addEventListener("keypress", function (event) {
if (event.key === "Enter") {
sendMessage();
this.value = ""
}
});

function sendMessage() {
let user_id = document.querySelector("#message_user_id").getAttribute("data-userId")
let content = document.querySelector("#message_content_user").value

let data = {
"user_id": user_id,
"content": content
}
if (content.trim() != "") {
fetch(new Request("/user/send_message", {
method: "POST",
headers: {
'Accept': 'application/json',
'Content-Type': 'application/json'
},
body: JSON.stringify(data)
})).then(req => req.json()).then(message => {
console.log(message);
});
}


}
			</script>
		</div>
	</body>
{% endblock %}
